
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins" , sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f6f7fb ;
}
.container{
    padding: 2rem 7rem;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.gosteri_foto{
    display: flex;
    column-gap: 7rem;
}
.container.start .kullanici_sonuc{
    transform-origin: left ;
    animation: userShake 0.7s ease infinite;

}
@keyframes userShake {
    50%{
        transform:rotate(10deg);
    }
}
.container.start .bilgisayar_sonuc{
    transform-origin: right ;
    animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake {
    50%{
        transform:rotate(-10deg);
    }
}
.gosteri_foto img{
    width: 100px;
}
.kullanici_sonuc img{
    transform: rotate(90deg);
}
.bilgisayar_sonuc img{
    transform: rotate(-90deg) rotateY(180deg);
}
.sonuc{
    text-align: center;
    font-size:1.5rem ;
    color: #7d2ae8;
    margin-top: 1.5rem;
}
.opsiyonlar_foto img{
    width: 50px;
}
.opsiyonlar_fotolari{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}
.container.start .opsiyonlar_fotolari{
    pointer-events: none;

}
.opsiyonlar_foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.opsiyonlar_foto:hover{
    opacity: 1;
}
.opsiyonlar_foto.active{
    opacity: 1;   
}
.opsiyonlar_foto img{
    pointer-events:none ;
 
}
.opsiyonlar_foto p{
    color: #7d2ae8;
    font-size:1.235rem ;
    margin-top: 1rem;
    pointer-events:none ;

}